/*Project2.css
  by Nathan Pelletier
  Started October 26, 2022
  
  We are not to modify the base html file
    When pictures are hovered over add a shadow and a span button
      also add transitions to each image (in and out)
    It needs a responsive layout to devices
      At certain height design switches how many columns we have

  */

h1{
  float: left;
}

header nav{
  float: right;
}

.card{
  width: 24%;
  margin-bottom: 1em;
  margin-right: 0.5em;
  float:left;
  transition: box-shadow 1s;
  transition-timing-function: ease-out;
}

.thumbnail img{
  width: 100%;
}

.card-content{
  padding-bottom: 2em;
}

.card-actions{
  opacity: 0.0;
  transition: opacity 1s;
  transition-timing-function: ease-in-out;
}

/* Anything involving :hover */
.card:hover{
  box-shadow: 5px 5px 3px grey;
}
.card:hover .card-actions{
  opacity: 1.0;
}


/* styles for small screens */
@media only screen and (max-width:480px)
{
    header {
      padding: 1em 0 5px 25px;
      height: 60px;
    }
    header h1 {
      margin-top: 0.3px;
    }
    .card {
      width: 98%;
    }
}


/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 815px)
{
    .card {
      width: 48%;
    }
}