/*Project2.css
  by Nathan Pelletier
  Started October 26, 2022
  
  We are not to modify the base html file
    When pictures are hovered over add a shadow and a span button
      also add transitions to each image (in and out)
    It needs a responsive layout to devices
      At certain height design switches how many columns we have

  TODO: 
    add transitions to the on hover elements
    shrink header on smallest screens

  */

h1{
  float: left;
}

header nav{
  float: right;
}

.card{
  width: 24%;
  margin-bottom: 1em;
  margin-right: 0.5em;
  float:left;
}

.thumbnail{}

.thumbnail img{
  width: 100%;
}

.card-content{
  padding-bottom: 2em;
}

.card-actions{
  display: none;
}

.button{}

/* Anything involving :hover */
.card:hover{
  box-shadow: 5px 5px 3px grey;
}
.card:hover .card-actions{
  display: block;
}

.card:hover .card-content{
  padding-bottom:0em;
}


/* styles for small screens */

@media only screen and (max-width:480px)
{
    header {
        
		
    }
    header h1 {
        
    }
    .card {
      width: 98%;
    }
}

/* styles for tablet screens */
@media only screen and (min-width: 481px)
and (max-width: 815px)
{
    .card {
      width: 48%;
    }
}