.jumbotron{
    background-image: url('../images/whistler_cropped.jpg');
    background-size:contain;
    background-repeat: repeat-x repeat-y;
    color: white;
}

.jumbotron p{
    font-size: 1em;
}

.jumbotron h2{
    font-size: 1.5em;
}

main .btn-white a{
    color:white;
}

main .btn{
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}