h2{
    margin-top: 30px;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 25px;
}

main>p.alert{
    margin-left: 4em;
    margin-right: 4em;
}

#art_by_artist{
    margin-left: 4em;
    margin-right: 4em;
}

.artist p{
    margin: 1em 0.2em 1em 0.8em;
}

main .btn{
    margin-left: 0.8em;
    margin-bottom: 1.5em;
}

.artist .btn p{
    margin: 0.3em 0.3em 0.3em 0.3em;
}

.btn a{
    color: white;
}

.icon-white{
    color:white;
    padding-right: 5px;
}

span.how_many_sales{
    color: #54bddc;
    background-color: white;
    border-style: transparent;
    border-radius: 45%;
    padding: 0.2em 0.5em 0.2em 0.5em;
}