
/* top header row */
#top_header_row{
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0.5em;
    color: white;
}

#top_header_row .navbar-header{
    position: relative;
    top:1em;
}

#top_header_row a{
    color: white;
}

#top_header_row a:hover{
    color: grey;
}

/* logo row */
#logo_row{
    margin: 0em 4em 2em 4em; 
}

#logo_row .pull-right{
    margin: 2em 4em 0 0;
    width:25%;
}

/* main navigation row */
#main_navigation_row{
    margin-left: 4em;
    margin-right: 4em;
}

/* font stuff */
#logo_row h1{
    font-family: 'Playball', cursive;
}