/*coloring*/
.lightgrey{
    background-color: lightgrey;
}

.darkgrey{
    background-color: #292929;
}

section#bottom_of_page{
    margin-top: 2em;
}

/* main_pic */
#main_pic{
    padding-left: 4em;
}

#main_pic h2{
    font-size: 2em;
}


/* beside_pic */
#beside_pic{
    margin-top: 6em;
}

#beside_pic .price{
    color: red;
    font-size: large;
}

#beside_pic>.btn-group{
    margin-bottom: 2em;
}

#beside_pic>.container{
    padding: 0 0 0 0;
}

#beside_pic hr{
    margin: 0 0 0 0;
}

/* sidebar */
#sidebar{
    height: 46em;
}

/* cart */
#cart img.media-object{
    float:left;
}

#cart .media p{
    margin-left:3em;
    margin-bottom: 10%;
}

/* similar_products */
#similar_products{
    padding-left: 4em;
    position:relative;
    max-width: 80%;
}

#similar_products .thumbnail{
    margin-right: 2%;
    min-width: 14em;
}

/* bottom_of_page */
#bottom_of_page{
    padding-left: 4em;
}

/* just_ordered */
#just_ordered img{
    position: relative;
    float: left;
    margin-right: 0.5em;
}

#just_ordered>div.media-body>p{
    margin-bottom: 3em;
}

/* contact_us */
#contact_us input, #contact_us textarea, #contact_us button{
    width:75%;

}

/* footer */
#copyright_row{
    color: grey;
    padding: 1em 2em 1em 4em;
}

/*work on ul throughout document */
aside#popular_artists ul, aside#popular_genres ul, aside#customer_service ul{
    list-style-type: none;
    padding-left: 2em;
}

aside#popular_artists li, aside#popular_genres li, aside#customer_service li{
    margin-bottom: 2em;
}

aside#popular_artists li:nth-child(7), aside#popular_genres li:nth-child(4){
    margin-bottom: 1em;
}

@media only screen and (max-width: 991px){
    section#beside_pic{
        margin-left: 4em;
    }

    #beside_pic>.container{
        margin: 0 0 0 0;
    }

    section#sidebar{
        height: auto;
        margin-left: 4em;
    }


    aside#cart .media p{
        margin-bottom: 2em;
    }

    section#similar_products{
        margin-bottom: 35em;
    }

    section#similar_products .thumbnail{
        margin-right: 2.5em;
        
        width: 14em;
        float:left;
    }

    section#bottom_of_page{
        margin-top: 18em;
    }

}

/* font stuff */
#main_pic h2, #sidebar #popular_artists .panel-heading, #similar_products h3{
    font-family: 'Noto Sans', sans-serif;
}