/*dino-game.css
    by Nathan Pelletier
    Started November 12 2024
    
  A copy of the crome out of internet dino-game. Made with the tutorial:
  "https://youtu.be/4Oz34co7VLY"
  At end dino can:
    run
    jump
      over rocks
      over cactus
    duck
      under birds
  Score counts up based on timer * 10

  This file will:
    set height and width of elements
    center score
*/

#score {
  text-align: center;
}

#game{
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: auto;
  background-image: url("images/dino\ game\ background.jpg");
  background-size: cover;
}

#dino, #tree, #bird{
  position: relative;
  background-size: cover;
}


#dino{
  height: 75px;
  width: 75px;
  top: 170px;
  background-image: url("images/dino\ idle.png");
}
}
