/*Lab 3.css
  by Nathan Pelletier
  started October 20, 2022*/

body{
  background-color: #E8EAF6;
  padding:0em 4em 1em 4em;
}

/*header and header text*/
header{
  background-color: navy;
  color: white;
  padding: 0.5em 0em 0em 1em;
  margin-bottom: 0.5em;
}

h1{
  font-size:1.5em;
}

h2{
  font-style: italic;
  font-weight:lighter;
}

