/*Lab 3.css
  by Nathan Pelletier
  started October 20, 2022*/

body{
  background-color: #E8EAF6;
  padding:0em 4em 1em 4em;
}

/*header and header text*/
header{
  background-color: navy;
  color: white;
  padding: 0.5em 0em 0em 1em;
  margin-bottom: 0.5em;
}

h1{
  font-size:1.5em;
}

h2{
  font-style: italic;
  font-weight:lighter;
}

/*===main, h3 and form boxes===*/

main{
  background-color: white;
  padding: 0.5em 0.5em 1.5em 0.5em;
}

h3{
  background-color: #7a85c4;
  font-size: 1.25em;
  color: white;
  font-weight: lighter;
  padding: 0.25em 0em 0.125em 0em;
}

form{
  background-color: #C5CAE9;
  padding: 1em 0.5em 0.25em 0.5em;
}
/*===============================*/

input#title{
  width: 99%;
  margin-bottom: 0.5em;
}

