/** dice-roller.css
    by Nathan Pelletier
    started July 19 2024

    A program to roll a bunch of dice. It can roll a number of dice with a modifier.
    It can roll advantage (2 dice take the higher), disadvantage (2 dice take the lower).
    It can also roll 4 dice and drop the lowest.

    File will
      Center content
      Provide boxes for content

 */

body{
    text-align: center;
    background-color: lightblue;
}

.box{
    border-style: solid;
}

div.box{
    background-color: white;
    border-radius: 25px;
    border-width: 3px;
    height: 8em;
    margin: auto;
    margin-top: 1em;
    width: 10em;
}

p.box{
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
    margin:0;
    width:100%;
}