/** workout-app-machine.css
    by Nathan Pelletier
    started July 26 2024
    
    This app is a re-creation of an app I previously made over 2 weeks for a client.
    In 2020 myself and Oscar were working for the Camrose Fitness Center.
    We designed an app to welcome the user, introduce a user to the machines present
      based on images. 
    Each machine page included a picture of the machine, a video on how to use it and a further discription.
    Finally we included a link with google map data to show users how to get to the gym.
    
    Said original app is lost to time. All that remains are the assets I created for the endevor.
    
    This file will:
      Keep content centered
      Keep content to 90% size of window
      Give text scroll wheel
      Move video down from top of screen
*/

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.video{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.text{
  width: 100%;
  height: 233px;
  border-style: none;
}

#title-image img{
  max-width: 30em;
  width: 40%;
  min-width: 10em;
}

#back-button span{
  position:absolute;
  top:0px;
  left:2vw;
  font-size: 10vw;
}

body{
  display:block;
  min-width: 435px;
  background-color: rgb(13, 177, 13);
}

header{
  font-size: 3vw;
}

iframe{
  width: 100%;
  height: 100%;
  border-style: none;
}

@media screen and (min-width: 1000px) {
  #back-button span {
     font-size: 100px;
  }
}

@media screen and (max-width: 500px) {
  #title-image img, header p{
    font-size: 20px;
  }
  #back-button span{
    font-size: 50px;
  }
}