.jumbotron{
    background-image: url('../images/whistler_cropped.jpg');
    color: white;
}

.jumbotron p{
    font-size: 1em;
}

.jumbotron h2{
    font-size: 1.5em;
}

.btn-white a{
    color:white;
}

.btn{
    font-size: 0.8em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}



